<h1><span class="glyphicon glyphicon-time"></span> TimeTracker</h1>
{{progress-bar action="stop" value=percentage time=time name=name disabled=isStopped}}
<hr>
{{add-bar action="add"}}
<hr>
{{view "task-list" list=list}}
