* {
	font-family: sans-serif;
	font-size: 110%;
}
body {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}
label  {
	display: block;
	margin-bottom: 1em;
}
label input{
	float: right;
}